<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  
  <form method="post" action="/verify">
    State the mobile no. to recieve otp<br> <br>
    <input name="number" placeholder="enter phone no." value="+65"/> <br><br>
    <button type="submit" name="button">Submit</button> 
  </form>

</body>
</html>


<!-- instead of store mongoose, can jsut temp store in a local list -->